<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="My personal web page">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Sano Fužir">

    {% stylesheets output='css/style.css' filter=''
           '@StaticBundle/Resources/assets/css/bootstrap.css'
           '@StaticBundle/Resources/assets/css/bootstrap-responsive.css'
           '@StaticBundle/Resources/assets/css/style.css'
           '@StaticBundle/Resources/assets/css/lightbox.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

  </head>

  <body>
      
     <!-- Part 1: Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="sanonavbar navbar-inner">
          <div class="container">
            <a class="logo" href="{{ path('_home') }}">
                <img src="{{ asset('bundles/static/images/logo.png') }}" alt="Logo" />
            </a>
            <div class="nav-collapse collapse" style="margin-left: 700px;" >
              <ul class="nav">
                <li><a href="{{ path('_home') }}">Domov</a></li>
                <li><a href="{{ path('_about') }}">O meni</a></li>
                <li><a href="{{ path('_projects') }}">Projekti</a></li>
                <li><a href="{{ path('_blog') }}">Blog</a></li>
                <li><a href="{{ path('_contact') }}">Kontakt</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

      <!-- Begin page content -->
      
    <div class="container">
      {% for type, messages in app.session.flashbag.all() %}
          {% for message in messages %}
              <div class="alert alert-{{type}} fade in" data-alert="alert"><a class="close" data-dismiss="alert" href="#">&times;</a><div class="alert-heading">{{ message }}</div></div>
          {% endfor %}
      {% endfor %}    
                  
        <div class="sano-content symfony-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="sano-footer muted credit"><a href="http://www.sanofuzir.com">Sano Fužir - Informacijske storitve</a></p>
      </div>
    </div>
      
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {#
    <script src="{{ asset('js/script.js') }}" type="text/javascript" />
    <script src="{{ asset('@StaticBundle/Resources/assets/js/vendor/jquery-1.7.2.min.js') }}" type="text/javascript" />
    <script src="{{ asset('@StaticBundle/Resources/assets/js/vendor/jquery-1.9.1.js') }}" type="text/javascript" />
    <script src="{{ asset('@StaticBundle/Resources/assets/js/vendor/lightbox.js') }}" type="text/javascript" />
    <script src="{{ asset('@StaticBundle/Resources/assets/js/vendor/bootstrap.js') }}" type="text/javascript" />
    #}
    {% javascripts  output='js/scripts.js'
        '@StaticBundle/Resources/assets/js/vendor/jquery-1.7.2.min.js'
        '@StaticBundle/Resources/assets/js/vendor/lightbox.js'
        '@StaticBundle/Resources/assets/js/vendor/bootstrap.js'
        '@StaticBundle/Resources/assets/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
        
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-43147548-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

  </body>
</html>