{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content_header '' %}

{% block content %}

<div>
    <div class="post">
      <h1>{{ post.name}}</h1>
      <p>{{ post.text|length > 50 ? post.text|slice(0, 50) ~ '...' : post.text }}</p>
      <p><b>Datum objave: </b>{{ post.created|date('d.m.Y H:i:s')}}</p>    
      <p  class="blog-image" style="margin-left: 500px;">
        <a href="{{ asset('post/')}}{{post.path }}" rel="lightbox">
            <img src="{{ asset('post/')}}{{post.path }}" alt="slika"/>
        </a>
      </p>
      <h1>Komentarji:</h1>
    {% for item in comments %}
        <div class="comment">
            <p><strong>{{ item.name }}</strong></p>
            <p>{{ item.comment }}</p>
            <p><b>Datum objave: </b> {{ item.created|date('d.m.Y H:i:s') }}</p>
        </div>
    {% endfor %} 
    <a href="{{ path('_addComment', ({'id': post.id})) }}" ><strong>Komentiraj</strong></a>
    </div>
</div>

{% endblock %}
